@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rubik+One);
/* CSS Document */

body.mine {
	background-color: #434E52;
}

img.test {
	position: absolute;
width: 154px;
height: 154px;
left: 56%;
top: 500px;

shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

img.test1 {
		position: absolute;
width: 154px;
height: 154px;
right: 12%;
top: 500px;

shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

img.test2 {
	position: absolute;
width: 130px;
height: 130px;
left: 34%;
top: 505px;

shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
div.ab {
	position: absolute;
width: 26px;
height: 400px;
left: 120px;
top: -170px;
z-index: -1;

background: #5B8C85;
transform: rotate(45.75deg);
}
div.ac {
	position: absolute;
width: 26px;
height: 400px;
left: 120px;
top: -70px;
z-index: -1;

background: #5B8C85;
transform: rotate(45.75deg);
}

div.cd {
	position: absolute;
width: 26px;
height: 650px;
left: 120px;
top: -120px;
z-index: -1;

background: #5B8C85;
transform: rotate(45.75deg);
}

img.prof {
	position: absolute;
width: 344px;
height: 217px;
left: 10%;
top: calc(50% - 218px/2 - 146.5px);

background-blend-mode: darken;
mix-blend-mode: normal;
}

h3.name-1{
	position: absolute;
width: 418px;
height: 52px;
right: 15%;
top: 5px;

font-family: 'Rubik One', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;

color: #434E52;

mix-blend-mode: normal;
}

h2.skills {
	position: absolute;
width: 139px;
height: 45px;
left: 10%;
top: 400px;

font-family:  'Rubik One', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
/* identical to box height */


text-align: justify;

color: #ECCE6D;

}

h2.exp {
		position: absolute;
width: 139px;
height: 45px;
left: 30%;
top: 400px;

font-family:  'Rubik One', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
/* identical to box height */


text-align: justify;

color: #ECCE6D;
}

h2.edu {
		position: absolute;
width: 139px;
height: 45px;
left: 54%;
top: 400px;

font-family:  'Rubik One', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
/* identical to box height */


text-align: justify;

color: #ECCE6D;
}

h2.cont {
	position: absolute;
width: 139px;
height: 45px;
right: 14%;
top: 400px;

font-family:  'Rubik One', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
/* identical to box height */


text-align: justify;

color: #ECCE6D;
}
div.rec1 {
	position: absolute;
width: 600px;
height: 217px;
right: 10%;
top: 155px;

background: #ECCE6D;
border: 1px solid #000000;
box-sizing: border-box;
}
p.info {
	position: absolute;
width: 500px;
height: 100px;
right: 10%;
top: 40px;

font-family:  'Rubik One', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 35px;
text-align: center;

color: #FFF;

/*text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
	
}

h5.python {
	position: absolute;
width: 55px;
height: 22px;
left: 10%;
top: 59%;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #5B8C85;

}
h5.html {
	position: absolute;
width: 55px;
height: 22px;
left: 10%;
top: 66%;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #5B8C85;

}
h5.css {
	position: absolute;
width: 55px;
height: 22px;
left: 10%;
top: 73%;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #5B8C85;

}
h5.java {
	position: absolute;
width: 55px;
height: 22px;
left: 10%;
top: 80%;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-align: justify;

color: #5B8C85;

}


div.prog-bar3{
	position: absolute;
	height: 25px;
	width: 150px;
	top: 505px;
	left:145px;
	font-family: Rubik One;
	font-style: normal;
	text-align: center;
	color: #FFF;
	background: #384144;
	border: 1px solid #ECCE6D;
	box-sizing: border-box;
}
p.python-prog {
	position: absolute;
	top:-2%;
	left: 55px;
}

div.prog-bar1 {
	
	position: absolute;
	height: 25px;
	width: 150px;
	top: 565px;
	left:145px;
	font-family: Rubik One;
	font-style: normal;
	text-align: center;
	color: #FFF;
	background: #384144;
	border: 1px solid #ECCE6D;
	box-sizing: border-box;
	
}
p.html-prog {
	
	position: absolute;
	top:10%;
	left: 55px;
}

div.prog-bar2 {
	
	
	position: absolute;
	height: 25px;
	width: 150px;
	top: 625px;
	left:145px;
	font-family: Rubik One;
	font-style: normal;
	text-align: center;
	color: #FFF;
	background: #384144;
	border: 1px solid #ECCE6D;
	box-sizing: border-box;
	
}
p.csss-prog {
	
	
	position: absolute;
	top:2%;
	left: 55px;
}

div.prog-bar4 {
	
	position: absolute;
	height: 25px;
	width: 150px;
	top: 685px;
	left:145px;
	font-family: Rubik One;
	font-style: normal;
	text-align: center;
	color: #FFF;
	background: #384144;
	border: 1px solid #ECCE6D;
	box-sizing: border-box;
}
p.java-prog {
	position: absolute;
	top:2%;
	left: 55px;
}

footer {
	
position: absolute;
width: 100%;
height: 50px;
left: 0px;
bottom: 0px;

background: #ECCE6D;
}
p.q1 {
	/* “There is no such thing as talent” */


position: absolute;
left: 42%;
top: 30%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: justify;

color: #000000;
}

a:hover {
	
  font-size: 150%;
}