@charset "UTF-8";
/* CSS Document */

body {
	background-color: #434E52;
}
div.ab {
	position: absolute;
width: 26px;
height: 400px;
left: 120px;
top: -170px;

background: #5B8C85;
transform: rotate(45.75deg);
}
div.ac {
	position: absolute;
width: 26px;
height: 400px;
left: 120px;
top: -70px;

background: #5B8C85;
transform: rotate(45.75deg);
}

div.cd {
	position: absolute;
width: 26px;
height: 650px;
left: 120px;
top: -120px;

background: #5B8C85;
transform: rotate(45.75deg);
}
h1 {
	/* EXPERIENCES */


position: absolute;
width: 366px;
height: 59px;
left: 10%;
top: 57px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 59px;
text-align: justify;

color: #ECCE6D;
}
footer {
	
position: absolute;
width: 100%;
height: 50px;
left: 0px;
bottom: 0px;

background: #ECCE6D;
}
p.q1 {
	/* “There is no such thing as talent” */


position: absolute;
left: 42%;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: justify;

color: #000000;
}

h2.t1 {
	position: absolute;
width: 783px;
height: 451px;
left: 12%;
top: 153px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2.t2 {
	position: absolute;
width: 783px;
height: 451px;
left: 12%;
top: 480px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 45px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


li.first {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 230px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li.second {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 290px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li.third {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 350px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li.fourth {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 410px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
li.fifth {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 470px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li.sixth {
	position: absolute;
width: 783px;
height: 451px;
left: 15%;
top: 580px;

font-family: Rubik One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 20px;
text-align: justify;

color: #5B8C85;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4 {
	/* Home Page */


position: absolute;
width: 130px;
height: 36px;
left: 630px;
bottom: 70px;

font-family: Rounded Mplus 1c;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: justify;

color: #FFFFFF;
}