{% load static %}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style1.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
<meta charset="UTF-8">
<title>Experience</title>
</head>
<body>	
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
	<h1>EXPERIENCE</h1>
	
	
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
	<ul>
		<li class="first">6ixs Cup 2017 ( Event )</li>
		<li class="second">6ixs Cup 2018 ( Creative Team )</li>
		<li class="third">6ixs Cup 2019 ( Creative Team )</li>
		<li class="fourth">Social Project Fakultas Ilmu Komputer 2019</li>
		<li class="fifth">Vice Project Officer Runtime Error 5.0 </li>
	</ul>
	<a href="{% url 'story4:index' %}"><h4>Home Page</h4></a>
</body>
</html>
