{% load static %}

<!doctype html>
<html>
<head>
    <style>
        form {
	position: absolute;
    top: 26%;
    left: 10%;
    width: 150px;
    height: 100px;
    font-size: 25px;
}
    </style>
<link rel="stylesheet" type="text/css" href="/static/style1.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
<meta charset="UTF-8">
<title>Be My Friend</title>
</head>
<body>	
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
	<h1>Be My Friend!</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_table}}
        <input type="submit" value="Save" onclick="location.href='index.html';">
    </form>
	
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
	<a href="{% url 'story4:index' %}"><h4>Home Page</h4></a>
</body>
</html>
