{% load static %}

<!doctype html>
<html>
<head>
    <style>
        div.context {
            font-family: Rubik One;
            position: absolute;
            top: 25%;
            left: 10%;
            right: 10%;
            color: aliceblue;
            text
        }
    </style>
<link rel="stylesheet" type="text/css" href="/static/style1.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
<meta charset="UTF-8">
<title>Experience</title>
</head>
<body>	
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
    <h1>Friend List</h1>
    <div class="context">
        {% for i in Friend %}
            Nama : {{ i.name }} his/her hobby is {{ i.hobby  }} - {{ i.year }} </br>
            
        {% endfor %}


    </div>
	
	
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
	<a href="{% url 'story4:index' %}"><h4>Home Page</h4></a>
</body>
</html>
