{% load static %}

<!doctype html>
<html>
<head>
    <style>
        form {
	position: absolute;
    top: 26%;
    left: 10%;
    width: 150px;
    height: 100px;
    font-size: 25px;
}
    button {
        background-color: #e7e7e7; 
        color: black;
        cursor: pointer;
        padding: 20px 40px;
        font-size: 30px;
        position:absolute;
        top:25%;
        left:41%;
    }
    </style>
<link rel="stylesheet" type="text/css" href="/static/style1.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
<meta charset="UTF-8">
<title>Thank you</title>
</head>
<body>	
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
    <h1 class="BRO">Thank you, </h1>
    <div class="but" >
    <a href="{% url 'story4:flist' %}"><button>Friend List</button></a>
    </div>
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
	<a href="{% url 'story4:index' %}"><h4>Home Page</h4></a>
</body>
</html>
